@tailwind base;
@tailwind components;
@tailwind utilities;


/*
@       -- AVAILABLE FONTS -- 

font-family: 'Bebas Neue', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Mohave', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Young Serif', serif; 
*/

html {
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

.body {
  color: #ffffff;
  font-family: "Quicksand";
  background-color: #42414C;
  /* background-color: #fff; */
  margin: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  place-items: center center; */
  min-width: 320px;
  min-height: 100vh;
  font-size: larger;
}


.shadow-text {
  color: #fff;
  text-shadow: 2px 2px 6px #000000e1
}

.bold {
  font-weight: 700;
}

h1 {
  font-family: 'Quicksand';
  font-weight: 500;
  text-align: center;
  font-size: 25pt;
}
