.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-image: url('/images/logos-background-mobile.jpg');
    background-repeat: no-repeat;
    background-color: black;
    background-position-y: top;
    background-position-x: center;
    background-attachment: fixed;
    background-size: 100%;
    color: #fff;
    text-align: center;

}

.hero-content {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
}

.hero-first {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    animation: hero-comes 1.2s ease-out;
}

.hero-second {
    display: flex;
    flex-direction: column;
}

.banner {
    width: 250px;
    margin: 20px;
}

.hero-content h1 {
    font-family: 'Mohave';
    font-weight: 500;
    font-size: 30pt;
}

.hero-content p {
    font-family: 'Playfair Display', serif;
    font-size: large;
    font-weight: 500;
}


#header-subtitle {
    font-size: 0pt;
}

#header-subtitle span {
    font-size: 14pt;
}

.typer-cta {
    font-size: 20px;
    padding: 8px 18px;
    max-width: 75vw;
    background-color: #f49600;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    font-family: dosis;
    align-self: center;
    justify-self: center;
    color: white;
    cursor: pointer;
    flex-wrap: nowrap;
    text-decoration: wavy;
}

.typer-cta:hover {
    transform: translateY(-1px);
    background-color: #f0a000;
}

.typer-cta:active {
    color: #CCC;
    background-color: #fAb900;
    transform: translateY(1px);
}


.bar {
    padding: 0;
    font-size: 24pt;
    margin-left: -5pt;
    font-family: monospace;
    font-weight: 100;
    opacity: .0;
}

.blinker {
    animation: blink 0.7s infinite;
}



/*  ANIMATIONS */

@keyframes blink {
    to {
        opacity: .0;
    }
}


@keyframes hero-comes {
    from {
        padding-bottom: 500px;
    }
}

/* RESPONSIVE MEDIA QUERIES FOR LARGER SCREENS */

@media only screen and (min-width: 650px) {
    .hero {
        background-image: url("/images/logos-background-tablet.jpg");
    }

    .hero-content {
        flex-direction: row;
        padding: 30px 0;
        justify-content: space-around;
        /* background-color: #112bbe8f; */
    }

    .hero-first {
        /* background-color: #ffe60094; */
        justify-self: flex-start;
        align-self: flex-start;
        margin: 0 15px;
        margin-top: 30px;
    }

    .hero-second {
        /* background-color: #ff000094; */
    }

    .banner {
        width: 200px;
        margin-bottom: 10px;
    }

    .hero-content h1 {
        font-size: 35pt;
    }

    .bar {
        font-size: 33pt;
        margin-left: -8pt;
    }

    #header-subtitle span {
        font-size: 16pt;
    }

    .typer-cta {
        font-size: 20px;
        padding: 12px 25px;
    }

}

@media only screen and (min-width: 950px) {
    .hero {
        background-image: url("/images/logos-background-desk.jpg");
        align-items: center;
    }

    .hero-content {
        width: 95vw;
        max-width: 1100px;
        flex-direction: row;
        padding: 20px 0;
        justify-content: space-between;
        text-align: left;
        /* background-color: #112bbe8f; */
    }

    .hero-first {
        width: 90%;
        padding-left: 30px;
        padding-top: 20px;
        justify-self: flex-start;
        align-self: flex-start;
        /* background-color: #ffe60094; */
    }

    .hero-second {
        align-items: center;
        justify-content: center;
        width: 30%;
        margin: 0px 5%;
        /* background-color: #ff000094; */
    }

    .banner {
        width: 320px;
    }

    .hero-content h1 {
        font-size: 45pt;
        letter-spacing: 0.9;
    }

    .bar {
        font-size: 38pt;
        margin-left: -10pt;
    }

    #header-subtitle span {
        font-size: 18pt;
    }

    .typer-cta {
        font-size: 22px;
        padding: 12px 20px;
        width: 300px;
        text-align: center;
    }
}